# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Labsheet-5/q1
Labsheet-5/q2
Labsheet-5/q3
Labsheet-5/q4
Labsheet-5/q5
Labsheet-5/q6
Labsheet-5/q7
Labsheet-5/q8
Labsheet-5/q9
Labsheet-5/q10
Labsheet-5/q11
Labsheet-5/q12
Labsheet-5/q13-a
Labsheet-5/q13-b
Labsheet-5/q13-c
Labsheet-5/q13-d
Labsheet-5/q13-e 
Labsheet-5/q13-f
Labsheet-7/q1
Labsheet-7/q2
Labsheet-7/q3
Labsheet-7/q4
Labsheet-7/q5
Labsheet-7/q6
Labsheet-7/q7
Labsheet-7/q8
Labsheet-6/q1
Labsheet-6/q2
Labsheet-6/q3
Labsheet-6/q4
Labsheet-6/q5
Labsheet-6/q6

